:root {
    --bg1: #f0ff6e;
    --bg2: #ACD96C;
    --bg3: #899973;
    --comColr: #806E84;
    --comColr2: #944ea6;
}

body {
    background-image: linear-gradient(to bottom left, #f0ff6e, #ACD96C, #899973);
    background-attachment: fixed;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-size: 1.2rem;
    background-color: var(--comColr2);
    color: var(--comColr2);
    margin-bottom: 20px;
}

header .webpage-title {
    text-decoration: none;
    color: #FFF;
}

.profile h2 {
    font-size: 2.5rem;
    color: var(--comColr);
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 5px solid var(--comColr);
}

.list-item {
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
    font-size: 1.6rem;
}

.list-item button {
    background: none;
    border: none;
}

.list-item .icon {
    height: 22px;
}

.list-container #addnew {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 25px;
}
.list-container #addnew>*{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    border-bottom: 2px solid var(--comColr) ;
    outline: none;
}

.list-container .btn {
    font-size: 2rem;
    background-color: var(--comColr);
    color: #FFF;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 3rem;
    width: 3rem;
}

.list-container .btn:hover {
    background-color: #944ea6;

}